- content_for :application_content do
  - unless defined?(header) && header == false
    %header#header
      = render partial: '/layouts/navbar'
  .container-fluid.h-100
    .row.h-100
      #main_contents_div.col-sm-9.order-sm-last
        #main_contents
          = content_for?(:content) ? yield(:content) : yield
        %footer#footer.mt-auto
          = render partial: 'layouts/footer'
      #side_menu_div.d-none.d-sm-block.col-sm-3.bg-light.order-sm-first
        - unless defined?(header) && header == false
          %div{ style: 'margin-bottom: 60px;' }
        #side_menu.pt-3
          = render partial: 'layouts/side_menu'

= render template: 'layouts/application'
